<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.rallydev.rallydroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".RallyMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".MyTasks" android:exported="true" android:label="My Tasks" ></activity>
		<activity android:name=".StoryTasks" android:exported="true" android:label="Story Tasks" ></activity>
		<activity android:name=".Settings"></activity>
		<activity android:name=".IterationStatus" android:label="Iteration Status"></activity>
		<activity android:name=".ArtifactView"></activity>
		<activity android:name=".PokerSelection" android:exported="true" android:label="Planning Poker - RallyDroid"></activity>
		<activity android:name=".PokerDisplay"></activity>
	<activity android:name=".RecentActivity" android:label="Recent Activity"></activity>
</application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8" />

</manifest> 